<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>

<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/main.css">


<div id="app">
  <template>
    <div class="bg-primary">
      <div class="container">
        <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Mua hàng</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="sales.html">Đăng sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a v-if="total" class="nav-link" href="cart.html">Giỏ hàng : {{total}} ₫</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class='container pt-3'>
      <form id="fmt" @submit.prevent="save()">
        <h4>Bán hàng trực tuyến</h4>
        <table class="table table-form">
          <tr>
            <th colspan="2">
              <h5>Thông tin sản phẩm</h4>
            </th>
          </tr>
          <tr>
            <th>Sản phẩm:</th>
            <td>
              <p>Ảnh sản phẩm</p>
              <br>
              <span><input type="file" class="form-cotrol" name="image"></span>
              <br>
              <div class="mt-2"><small style="color: red;">{{errors.image}}</small></div>
            </td>
          </tr>
          <tr>
            <th>Loại sản phẩm:</th>
            <td>
              <select name="categoryId" class="form-control">
                <option value="">---Chọn loại sản phẩm---</option>
                <option v-for="c in categoryList" :value="c.id">
                  {{c.name}}
                </option>
              </select>
              <div class="mt-2"><small style="color: red;">{{errors.categoryId}}</small></div>
            </td>
          </tr>
          <tr>
            <th>Tên sản phẩm:</th>
            <td>
              <input name="name" type="text" class="form-control">
              <div class="mt-2"><small style="color: red;">{{errors.name}}</small></div>
            </td>
          </tr>
          <tr>
            <th>Giá:</th>
            <td>
              <input name="price" type="text" class="form-control">
              <div class="mt-2"><small style="color: red;">{{errors.price}}</small></div>
            </td>
          </tr>
          <tr>
            <th>Description:</th>
            <td><input name="description" type="text" class="form-control"></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Đăng bán</button>
      </form>
    </div>
  </template>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      categoryList: [],
      errors: {},
    },

    methods: {
      save: async function () {
        this.errors = {};

        var data = new FormData(document.getElementById("fmt"));
        /*for (var pair of data.entries()) {
          console.log(pair[0] + ', ' + pair[1]);
        }*/

        var result = await this.post('/sale_products', data, true);
        console.log(JSON.stringify(result));
        if (result.success) {
          location.href = 'index.html';
        } else {
          this.errors = result.errors || {};
        }
      }
    },
    created: async function () {
      var reps = await fetch(this.baseURL + '/get_category_list');
      var result = await reps.json();
      console.log(result);
      this.categoryList = result.categoryList;
    }
  });
</script>